@model ServiceBus.IServiceBus

@{
    ViewBag.Title = "Index";
}

<h2>Peers</h2>
<ul>
    @foreach (var endpoint in this.Model.Peers)
    {
        <li>@endpoint.PeerAddress</li>
    }
</ul>
<h2>Send Messages</h2>
@using (this.Html.BeginForm("sendsharedmessage", "home"))
{
    <p>Shared Message</p>
    <br />
    <button type="submit">Send</button>
}
@using (this.Html.BeginForm("sendnonsharedmessage", "home"))
{
    <p>Non-Shared Message</p>
    <br />
    <button type="submit">Send</button>
}