@model ServiceBus.IServiceBus

@{
    ViewBag.Title = "Index";
}

<h2>Peers</h2>
<ul>
    @foreach (var endpoint in this.Model.Peers)
    {
        <li>@endpoint.PeerAddress</li>
    }
</ul>
<h2>Send Messages</h2>
@using (this.Html.BeginForm("sendmessage", "home"))
{
    <p>Say Hello</p>
    <br />
    @Html.TextBox("message")
    <button type="submit">Send</button>
}

@using (this.Html.BeginForm("sendgoodbyemessage", "home"))
{
    <p>Say Goodbye</p>
    <br />
    @Html.TextBox("message")
    <button type="submit">Send</button>
}
